* {
    margin: 0;
    padding: 0;
}
.body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoRLc-2O5daebC61rhhnC6aEjpZ8ZRdWdsWg&s');
      background-image: url('https://cdn.prod.website-files.com/64edaee359227c9b34a32e84/67ad19a313bff21b2e879cff_AD_4nXfZKUOS-ulGklFau_BL1Xtl8MS6gbBroLrBRnC-c-ID0qhyNmYoaoQfSjqbYwIZo41Shyep1pYQqGlzJrrCcdEldZdq7WDPsrrejPpVC3vLJy3kx8tLworqBKMXZ1FFZUv5sQGY.jpeg');

}
.navUl{
    background-image: linear-gradient(90deg,rgba(217, 87, 180, 1) 0%, rgba(242, 235, 238, 1) 0%, rgba(9, 9, 121, 1) 51%, rgba(225, 0, 245, 1) 100%);
    border-radius: 50px;
    height: 100px;
}

.logo-1 {
    width: 150px;
    height: 120px;
}

.btn{
    background-color:#9590f2;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
}
.btn:hover{
     border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
background-color:#e9a9e5;
transition: 0.5s;
cursor: pointer;
}
.navlist .nav-link{
    color: #faf7f7;
    font-size: 20px;
}
