* {
    margin: 0;
    padding: 0;
}

body {

    /* background-image: url('https://cdn.pixabay.com/photo/2021/10/18/19/46/website-6721950_640.png'); */
    width: auto;
    background-color: #fd9090;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


}

.navUl {
    background-image: linear-gradient(90deg, rgba(217, 87, 180, 1) 0%, rgba(242, 235, 238, 1) 0%, rgba(9, 9, 121, 1) 51%, rgba(225, 0, 245, 1) 100%);
    border-radius: 50px;
    height: 100px;
}

.logo-1 {
    width: 125px;
    height: 100px;
}

.btn {
    background-color: #9590f2;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
}

.btn:hover {
    border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
    background-color: #e9a9e5;
    transition: 0.5s;
    cursor: pointer;
}

.navlist .nav-link {
    color: #faf7f7;
    font-size: 20px;
}

.btn-1 {
    background-color: #c47cac;
    color: rgb(12, 8, 14);
    border: 2px solid #060606;
    border-radius: 5.95px;
    height: 50px;
    width: 150px;
}

.btn-1:hover {
    border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
    background-color: #e9a9e5;
    transition: 0.5s;
    cursor: pointer;
}

.header-row {
    background-color: rgb(143, 18, 226);
    border: 2px solid black;
    border-radius: 10px;
}

.business-img {
    border: 2px solid white;
    height: 350px;
}

.business-img:hover {
    cursor: pointer;
    transition: 0.5s;

}

.heading-6 {
    color: #f7f5f5;
}

.heading-3 {
    color: #fffefe;
}

.para-1 {
    color: #fffefe;

}

.middle-row {
    background-color: rgb(143, 18, 226);
    height: 430px;
    border-radius: 10px;
    border: 2px solid black;
}

.section-services:hover {
    animation-name: animate__zoomIn;
    animation-duration: 0.8s;
    cursor: pointer;
}

.heading-5 {
    color: #fdfcfc;
}

.heading-5:hover {
    color: #000;
    cursor: pointer;
    transition: 0.3sec;
}

.btn-01 {
    background-color: #330936;
    color: #f8f7f7;
    font-size: 30px;
}

.btn-01:hover {
    background-color: #d694f0;
    color: #000;
    font-size: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.second-middle-row {
    background-color: rgb(143, 18, 226);
    border-radius: 10px;
    border: 2px solid black;

}

.third-middle-row {
    background-color: rgb(143, 18, 226);
    border-radius: 10px;
    border: 2px solid black;

}

.hire-row {
    background-color: rgb(143, 18, 226);
    border-radius: 10px;
    border: 2px solid black;

}

.card-img-top {
    cursor: pointer;
}

.hire-button {
    font-size: 50px;
    font-style: bold;
    background-color: #c47cac;
    color: #000;
    border: 2px solid black;
    border-radius: 25px;

}

.hire-button:hover {
    font-size: 55px;
    font-style: bold;
    background-color: #430253;
    color: #fcfafa;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(252, 180, 220);


}

.list {
    text-decoration: none;
    text-align: left;
    font-size: 30px;
    font-weight: 20px;
    font-style: bold;
    color: #ffffff;
}

.list:hover {
    color: #080808;
    cursor: pointer;
    transition: 0.2s;
}


.hire-row {
    background-color: rgb(143, 18, 226);
}

.hire-para {
    font-size: 20px;

}

.contact-row {

    background-color: rgb(143, 18, 226);
    border-radius: 10px;
    border: 2px solid black;


}

.contact-button {
    font-size: 40px;
    font-style: bold;
    background-color: #c468a5;
    color: #000;
    border: 2px solid black;
    border-radius: 25px;

}

.contact-button:hover {
    font-size: 45px;
    font-style: bold;
    background-color: #31013d;
    color: #fcfafa;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(252, 180, 220);
}

.contact-para {
    font-size: 30px;
    color: #fcfafa;
    text-align: center;
}

.label {
    color: #f7f6f6;
    font-size: 29px;
}
.label-msg {
    color: #f7f6f6;
    font-size: 29px;
}

.e-para {
    color: #fdfafa;
}

.tag {
    color: #fcfafa;
    text-decoration: none;
}

.sbmt-btn {
    font-size: 25px;
    font-style: bold;
    background-color: #c468a5;
    color: #000;
    border: 2px solid black;
    border-radius: 25px;
}

.sbmt-btn:hover {
    font-size: 25px;
    font-style: bold;
    background-color: #5a0270;
    color: #faf9f9;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.footer {
    background-color: rgb(143, 18, 226);
    height: 100px;

    border-radius: 10px;
    border: 2px solid black;

}


.footer-para {
    color: #ffffff;
    font-size: 30px;
}

.footer-para:hover {
    color: #0e0c11;
    cursor: pointer;
    transition: 0.5s;

}



@media only screen and (max-width: 992px) {
    .left-row {
        text-align: center;
    }
  .navbar-collapse {
    background: linear-gradient(
      90deg,
      rgba(217, 87, 180, 1) 0%,
      rgba(9, 9, 121, 1) 51%,
      rgba(0, 212, 255, 1) 100%
    );
    padding: 20px;
    border-radius: 20px;
  }
  .navUi{
    padding-bottom:100px;
  }
  .btn{
 margin-left:225px;
  }



}
@media only screen and (max-width: 991px) {

    .navUl a {
        margin-top: -15px;

        text-align: center;

    }

    .form {
        text-align: center;
    }

    .e-para {
        text-align: center;
    }
}

@media only screen and (max-width: 770px) {
    .middle-row {
        height: 500px;
    }
}

@media only screen and (max-width: 507px) {
    .middle-row {
        height: 600px;
    }
}

@media only screen and (max-width: 530px) {
    .footer {
        height: 200px;
    }
}

@media only screen and (max-width: 400px) {
    .middle-row {
        height: 700px;
    }
}

@media only screen and (max-width: 335px) {

    .label-msg,
    #message {
        display: none;
    }
}

@media only screen and (max-width: 311px) {
    .middle-row {
        height: 800px;
    }
}

@media only screen and (max-width: 294px) {
    .middle-row {
        height: 1000px;
    }
}