* {
    margin: 0;
    padding: 0;
}
body{
    
      background-image: url('https://cdn.pixabay.com/photo/2021/10/18/19/46/website-6721950_640.png');
      width:auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  

}
.navUl{
    background-image: linear-gradient(90deg,rgba(217, 87, 180, 1) 0%, rgba(242, 235, 238, 1) 0%, rgba(9, 9, 121, 1) 51%, rgba(225, 0, 245, 1) 100%);
    border-radius: 50px;
    height: 100px;
}

.logo-1 {
    width: 150px;
    height: 120px;
}

.btn{
    background-color:#9590f2;
    border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
}
.btn:hover{
     border-radius: 10px;
    border: 2px solid;
    color: rgb(16, 16, 16);
background-color:#e9a9e5;
transition: 0.5s;
cursor: pointer;
}
.navlist .nav-link{
    color: #faf7f7;
    font-size: 20px;
}
